<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <div th:replace="~{fragments/head :: css}"></div>
    <link rel="stylesheet" href="/css/service-style.css">
</head>

<body class="primary-color">

<div th:replace="~{fragments/topnav :: navbar}"></div>

<div class="content">
    <div class="row align-items-center services-container">
        <span class="title-2">Services</span>
        <hr class="separator">

        <th:block th:each="service : ${services}">
            <a th:replace="~{fragments/frags :: service-container}"></a>
        </th:block>

    </div>
</div>
</body>

</html>