
.left-section{
    height: 500px;
    width: 25%;
}
.main-container{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.speed-table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #000000;
}


thead th:nth-child(1) {
    width: 25%;
}

thead th:nth-child(2) {
    width: 25%;
}

thead th:nth-child(3) {
    width: 25%;
}
thead th:nth-child(4) {
    width: 25%;
}

th,
td {
    padding: 12px;
}

html {
    font-family: helvetica, arial, sans-serif;
    font-size: medium;
}

thead th {

    font-family: helvetica, Arial, serif;
}

th {

    text-align: center;
    letter-spacing: 2px;
}
th a, th a:hover{
    text-decoration: none;
    display: block;
    color: white;
}

td {
    letter-spacing: 1px;
    color: #dcdcdc;
}

tbody td {
    text-align: center;
    font-weight: normal;
}

thead,
tfoot {
    background: #2d2d33;
    color: white;
}
thead th{
    background-color: #1e1e1e;
    border: 2px solid #000000;
}
thead th:hover{
    background-color: #343434;

}

tbody tr:nth-child(odd) {
    font-weight: bold;
    background-color: #015d5d;
}

tbody tr:nth-child(even) {

    background-color: #343434;
}

tbody tr:hover {background-color: #0c8383;}
