<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Speed home</title>
    <div th:replace="~{fragments/head :: css}"></div>
    <link href="/css/speed-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="~{fragments/topnav :: navbar}"></div>
<div class="main-container">
    <section class="left-section">
        <a type="button" class="btn btn-success" href="/services/speed/list">Listado</a>
    </section>

</div>
</body>
</html>